.wrapper {
  height: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  gap: 1rem;
}
.title h1 {
  cursor: pointer;
}
.inactive {
  color: lightgray;
}

.quizCard {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 1rem;
}
