.card {
  width: 100%;
  border: 0.0625rem solid lightgray;
  border-radius: 0.5rem;

  padding: 1rem;
}
.header {
  display: flex;
  color: black;
  justify-content: space-between;
}

.detail {
  text-decoration: none;
  color: gray;
}
.detail:hover {
  text-decoration: underline;
}

.content {
  padding: 1rem 0.5rem;
}
