.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    background-color: #fff;
    height: 120vh;
  }
  
  .content {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    max-width: 600px;
    width: 100%;
  }
  
  .congratsIcon {
    margin-bottom: 20px;
  }

  .congratsIcon img{
    width: 200px;
    height: 200px;
  }
  
  .iconImage {
    width: 100px;
    height: 100px;
  }
  
  .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .message {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .subMessage {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
  }
  
  .buttonSection {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #0070f3;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  
  .recommendedSection {
    text-align: left;
    margin-top: 50px;
  }
  
  .recommendationTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .courseList {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .courseItem {
    text-align: left;
    width: 180px;
    transition: transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);;
  }

  .courseItem:hover {
    transform: translateY(-5px);
  }
  
  .courseImage {
    width: 170px;
    height: 120px;
  }
  
  .courseTitle {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 3px;
  }

  .courseInstructor {
    font-size: 12px;
    color: #666;
    margin-bottom: 10px;
    padding-left: 3px;
  }
  
  .coursePrice {
    font-size: 14px;
    color: dodgerblue;
    margin-bottom: 15px;
    padding-left: 3px;
  }
  